<h1>New Wishlist</h1>
<form method="post" action="/collections/new">
 <input type="text" name="name" placeholder="WishList Name"><br><br>
<input type="text" name="wishes[name]" placeholder="Add Your new Wish"><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>
