<h1>New Wish on <%= @collection.name %></h1>

<form method="post" action="/wishes/new/<%= @collection.id %>">
<input type="text" name="name" placeholder="Wish Name">
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>