<h1>Hello <%=@user.username %>!</h1>
 <h2>Collection 1</h2>
<ul>
<li>Wish 1</li>
<li>Wish 2</li>
</ul>
 <h2>Collection 2</h2>
<ul>
<li>Wish 1</li>
<li>Wish 2</li>
</ul>
 <a href="collections/new">Create New Collection of wishes</a><br>
<a href="wishs/new">Create New Wish</a>